---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact" description="Contact and Support Information">
  <div class="prose prose-invert prose-slate mx-auto">
    <h1>Contact</h1>
    <p>
      If you have any questions, feedback, or need support, please feel free to
      reach out through the following channels:
    </p>
    <ul>
      <li>
        You can open an issue on our
        <a href="https://github.com/adulbrich/ephira/issues"
          >GitHub repository</a
        >.
      </li>
      <li>
        Send us an email at <a href="mailto:ephira@capucity.be"
          >ephira@capucity.be</a
        >.
      </li>
    </ul>
    <p>
      We appreciate your interest in <strong class="font-serif">ephira</strong> and
      will do our best to respond to your inquiries promptly.
    </p>
  </div>
</Layout>
