---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Private Period Tracking"
  description="A private period tracking app"
>
  <div class="text-white">
    <h1 class="text-3xl font-serif font-bold">ephira</h1>
    <p>The encrypted, local-first, menstrual cycle tracking app.</p>
  </div>
</Layout>
