---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy" description="Privacy Policy">
  <div class="prose prose-invert prose-slate mx-auto">
    <h1>Privacy</h1>
    <p>
      Last updated: January 28th, 2025.
    </p>
    <h2>Introduction</h2>
    <p>
      This Privacy Policy sets out how the <strong
        class="font-serif">ephira</strong
      > app uses and protects your personal data that you generate and store within the
      app.
    </p>
    <h2>Data Use</h2>
    <p>
      <strong class="font-serif">ephira</strong> respects and celebrates your privacy.
      There is no collection of usage data or personal information, no ads, no spyware.
      <strong class="font-serif">ephira</strong> stores encrypted data related to
      menstrual health <em>locally</em> on your device.
    </p>
    <p>This includes:</p>
    <ul>
      <li>settings</li>
      <li>menstrual cycle tracking data</li>
    </ul>
    <p>
      The data is used to display statistics and apply fertility awareness
      rules. This data cannot be accessed by other apps. If you wish to delete
      all your app data you can do so by navigating to <strong
        >Settings › Delete Data</strong
      >, type in <em>delete data</em> and finally press <strong>Delete Data</strong> to confirm. 
      This can also be done by uninstalling the app.
    </p>
    <p>
      Please note that while <strong class="font-serif">ephira</strong> only saves
      your data locally, depending on your device settings an automatic cloud backup
      might still take place. We recommend checking your general settings to prevent
      this from happening.
    </p>
    <h2>Permissions</h2>
    <p>
      <strong class="font-serif">ephira</strong> includes an optional feature to enhance security 
      by enabling device biometrics, such as fingerprint or face recognition. This feature:
      <ul>
        <li> Uses your device's built-in biometric authentication functionality. </li>
        <li> Does not store or process biometric data within the app. All biometric data remains managed 
              by your device's operating system and is not accessible to <strong class="font-serif">ephira</strong>. </li>
      </ul>
      If your device's biometric system requires access to hardware components like the camera for setup or authentication 
      (e.g., for facial recognition), this is managed entirely by your device and not by <strong class="font-serif">ephira</strong>.
    </p>
    <h2>Changes to this Privacy Policy</h2>
    <p>
      We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
    </p>
    <h2>Contact Us</h2>
    <p>
      If you have any questions about this Privacy Policy, you can contact us:
      <ul>
        <li>
          By email: <a href="mailto:ephira@capucity.be">ephira@capucity.be</a>
        </li>
      </ul>
    </p>
  </div>
</Layout>
