---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy" description="Privacy Policy">
  <div class="prose prose-invert prose-slate">
    <h1>Privacy</h1>
    <h2>Introduction</h2>
    <p>
      This Privacy Policy sets out how the <strong
        class="font-serif">ephira</strong
      > app uses and protects your personal data that you generate and store within the
      app.
    </p>
    <h2>Data Use</h2>
    <p>
      <strong class="font-serif">ephira</strong> respects and celebrates your privacy.
      There is no collection of usage data or personal information, no ads, no spyware.
      <strong class="font-serif">ephira</strong> stores encrypted data related to
      menstrual health <em>locally</em> on your device.
    </p>
    <p>This includes:</p>
    <ul>
      <li>settings</li>
      <li>menstrual cycle tracking data</li>
    </ul>
    <p>
      The data is used to display statistics and apply fertility awareness
      rules. This data cannot be accessed by other apps. If you wish to delete
      all your app data you can do so by navigating to <strong
        >Settings › Data › Delete app data</strong
      >. This can also be done by uninstalling the app.
    </p>
    <p>
      Please note that while <strong class="font-serif">ephira</strong> only saves
      your data locally, depending on your device settings an automatic cloud backup
      might still take place. We recommend checking your general settings to prevent
      this from happening.
    </p>
  </div>
</Layout>
