---
import { Picture } from "astro:assets";
import logoImage from "../assets/logo.png";
---

<header
  class="flex justify-between items-center shadow-md w-full shadow-slate-600 p-4 md:px-12"
>
  <Picture src={logoImage} formats={["avif", "webp"]} alt="logo" />
  <h1 class="font-serif text-3xl font-bold text-white lowercase">
    <a href="/">ephira</a>
  </h1>
</header>
