name: Check Formatting
on:
  pull_request:
    branches:
      - main

jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set-up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install Dependencies
        run: |
          npm install
      - name: Run ESLint
        run: |
          ./node_modules/.bin/eslint . --max-warnings=0
